body {
	font-family: "Neucha", cursive;
	font-size: 22px;
	letter-spacing: 2px;
	margin: auto;
}

a {
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

#ttl {
	font-family: "Sedgwick Ave Display", cursive;
	font-size: 64px;
	letter-spacing: 12px;
	margin: 12px 20px;
}

#ttllink {
	color: black;
}

nav {
	margin: 0 64px 0 80px;
	font-size: 24px;
	font-weight: 800;
}

.navlink {
	margin-right: 22px;
	color: black;
	transition: 0.2s;
}

.navlink:hover {
	opacity: 50%;
}

main {
	background-color: gray;
	padding: 16px;
}

.mainimg {
	width: 240px;
	height: 240px;
	object-fit: cover;
}

footer {
	background-color: gray;
	margin-top: 30px;
	padding: 16px;
	padding-bottom: 200px;
}

.footerimg {
	width: 240px;
}
